html {
  /* px means "pixels". The base font size is now 15 pixels high */
  font-size: 15px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: 'Montserrat', sans-serif;
  color: white;
}

html {
  background-color: #00539f;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #212121;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

.navbar ul{
    list-style-type: none;
    background-color: #3d3e3f;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #364555;
}
.navbar li{
    flex: 1;
}